<!DOCTYPE html>
<html>
<head>
    <title>HireMeBot Employer Portal</title>
    <meta charset="utf-8" />

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.js"></script>
    
    <script>
        function populateCharacteristics()
        {

        }
    </script>
</head>
<body>
    <h1>HireMeBot</h1>
    <p>Describe your bot here and your terms of use etc.</p>
    
    

    <p>Visit <a href="https://www.botframework.com/">Bot Framework</a> to register your bot. When you register it, remember to set your bot's endpoint to <pre>https://<i>your_bots_hostname</i>/api/messages</p>
</body>
</html>
